<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.username">
            root
        </property>

        <property name="connection.password">
            tesis2016
        </property>

        <property name="show_sql">
            true
        </property>

        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestar</property>

        <mapping class="Datos.InsumoEntity"/>
        <!--<mapping class="Datos.MovimientosStockEntity"/>-->
        <!--<mapping class="Datos.StockInsumoEntity"/>-->
        <mapping class="Datos.TipoInsumoEntity"/>
        <mapping class="Datos.MaquinariaEntity"/>
        <mapping class="Datos.TipoEstadoMaquinariaEntity"/>
        <mapping class="Datos.TipoMaquinariaEntity"/>
        <mapping class="Datos.SolicitudInsumoEntity"/>
        <mapping class="Datos.DetalleSolicitudInsumoEntity"/>
        <mapping class="Datos.CampaniaEntity"/>
        <mapping class="Datos.CampoEntity"/>
        <mapping class="Datos.DetalleLaboreoEntity"/>
        <mapping class="Datos.LaboreoEntity"/>
        <mapping class="Datos.LoteEntity"/>
        <mapping class="Datos.LoteCampaniaEntity"/>
        <mapping class="Datos.TipoLaboreoEntity"/>
        <mapping class="Datos.PlanificacionCampaniaEntity"/>
        <mapping class="Datos.TipoGranoEntity"/>
        <mapping class="Datos.ClienteEntity"/>
        <mapping class="Datos.TipoMedioEntity"/>
        <mapping class="Datos.DetalleIngresoInsumoEntity"/>
        <mapping class="Datos.IngresoInsumoEntity"/>
        <mapping class="Datos.AcopioEntity"/>
        <mapping class="Datos.TipoAcopioEntity"/>
        <mapping class="Datos.IngresoAcopioEntity"/>
        <mapping class="Datos.EgresoAcopioEntity"/>
        <mapping class="Datos.DetalleEgresoAcopioEntity"/>
        <mapping class="Datos.TipoEstadoGranoEntity"/>
        <mapping class="Datos.TransporteEntity"/>
        <mapping class="Datos.EmpresaEntity"/>
        <mapping class="Datos.LaboreoInsumoMaqEntity"/>
        <mapping class="Datos.DetallePlanificacionCampaniaLaboreosEntity"/>
        <mapping class="Datos.DetalleLaboreosMaquinariaDePlanificacionCampaniaEntity"/>
        <mapping class="Datos.DetalleLaboreosInsumoDePlanificacionCampaniaEntity"/>

        <!-- DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->
    </session-factory>
</hibernate-configuration>