USE [ElCampito]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[Id_TipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[Id_TipoDocumento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON
INSERT [dbo].[TipoDocumento] ([Id_TipoDocumento], [Nombre]) VALUES (1, N'DNI')
INSERT [dbo].[TipoDocumento] ([Id_TipoDocumento], [Nombre]) VALUES (2, N'PASAPORTE')
INSERT [dbo].[TipoDocumento] ([Id_TipoDocumento], [Nombre]) VALUES (3, N'LE')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
/****** Object:  Table [dbo].[Provincia]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id_Provincia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Provincia] ON
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre]) VALUES (1, N'Córdoba')
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[Provincia] ([Id_Provincia], [Nombre]) VALUES (3, N'Santa Fe')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[Tipo_Doc] [int] NOT NULL,
	[Nro_Doc] [int] NOT NULL,
	[Tipo_Fact] [int] NOT NULL,
	[Nro_Fact] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[Tipo_Doc] ASC,
	[Nro_Doc] ASC,
	[Tipo_Fact] ASC,
	[Nro_Fact] ASC,
	[Id_Producto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DetalleFactura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Id_Producto], [Cantidad], [Precio]) VALUES (1, 35869102, 1, 18, 14, 3, 300)
INSERT [dbo].[DetalleFactura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Id_Producto], [Cantidad], [Precio]) VALUES (1, 35869102, 1, 18, 17, 2, 120)
INSERT [dbo].[DetalleFactura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Id_Producto], [Cantidad], [Precio]) VALUES (1, 35869102, 1, 18, 19, 5, 500)
/****** Object:  Table [dbo].[Productos]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Material_Principal] [varchar](50) NULL,
	[Peso] [float] NULL,
	[Largo] [float] NULL,
	[Ancho] [float] NULL,
	[Alto] [float] NULL,
	[Cant_Stock] [int] NOT NULL,
	[Periodo_Garantia] [nchar](10) NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON
SET IDENTITY_INSERT [dbo].[Productos] OFF
/****** Object:  Table [dbo].[Medio_pago]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medio_pago](
	[Id_medio_pago] [int] IDENTITY(1,1) NOT NULL,
	[Medio_pago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Medio_pago] PRIMARY KEY CLUSTERED 
(
	[Id_medio_pago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Medio_pago] ON
INSERT [dbo].[Medio_pago] ([Id_medio_pago], [Medio_pago]) VALUES (1, N'Efectivo')
INSERT [dbo].[Medio_pago] ([Id_medio_pago], [Medio_pago]) VALUES (2, N'Tarjeta de Credito')
INSERT [dbo].[Medio_pago] ([Id_medio_pago], [Medio_pago]) VALUES (3, N'Tarjeta de Debito')
SET IDENTITY_INSERT [dbo].[Medio_pago] OFF
/****** Object:  Table [dbo].[Localidad]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidad](
	[Id_Localidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Id_Provincia] [int] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[Id_Localidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON
INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [Id_Provincia]) VALUES (1, N'Saldan', 1)
INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [Id_Provincia]) VALUES (2, N'Villa Allende', 1)
INSERT [dbo].[Localidad] ([Id_Localidad], [Nombre], [Id_Provincia]) VALUES (3, N'La Calera', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
/****** Object:  Table [dbo].[Factura]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Tipo_Doc] [int] NOT NULL,
	[Nro_Doc] [int] NOT NULL,
	[Tipo_Fact] [int] NOT NULL,
	[Nro_Fact] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Emision] [date] NOT NULL,
	[Medio_De_Pago] [int] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[Tipo_Doc] ASC,
	[Nro_Doc] ASC,
	[Tipo_Fact] ASC,
	[Nro_Fact] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Factura] ON
INSERT [dbo].[Factura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Fecha_Emision], [Medio_De_Pago], [Total]) VALUES (1, 35869102, 1, 18, CAST(0x22370B00 AS Date), 1, 3900)
INSERT [dbo].[Factura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Fecha_Emision], [Medio_De_Pago], [Total]) VALUES (1, 35869102, 1, 22, CAST(0xC1370B00 AS Date), 2, 1700)
INSERT [dbo].[Factura] ([Tipo_Doc], [Nro_Doc], [Tipo_Fact], [Nro_Fact], [Fecha_Emision], [Medio_De_Pago], [Total]) VALUES (1, 35869102, 1, 24, CAST(0x8B370B00 AS Date), 1, 720)
SET IDENTITY_INSERT [dbo].[Factura] OFF
/****** Object:  Table [dbo].[Barrio]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrio](
	[Id_Barrio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Id_Localidad] [int] NOT NULL,
 CONSTRAINT [PK_Barrio] PRIMARY KEY CLUSTERED 
(
	[Id_Barrio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Barrio] ON
INSERT [dbo].[Barrio] ([Id_Barrio], [Nombre], [Id_Localidad]) VALUES (1, N'San Remo', 1)
INSERT [dbo].[Barrio] ([Id_Barrio], [Nombre], [Id_Localidad]) VALUES (2, N'Manantiales', 1)
INSERT [dbo].[Barrio] ([Id_Barrio], [Nombre], [Id_Localidad]) VALUES (3, N'Alberdi', 4)
SET IDENTITY_INSERT [dbo].[Barrio] OFF
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Tipo_Doc] [int] NOT NULL,
	[Nro_Doc] [int] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Fecha_Nac] [date] NOT NULL,
	[Sexo] [nchar](10) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Nro] [int] NULL,
	[Barrio] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[Telefono] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Tipo_Doc] ASC,
	[Nro_Doc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([Tipo_Doc], [Nro_Doc], [Apellido], [Nombres], [Fecha_Nac], [Sexo], [Calle], [Nro], [Barrio], [Email], [Telefono]) VALUES (1, 458679, N'SORIA', N'ISAAC', CAST(0x7B160B00 AS Date), N'MASCULINO ', N'SUNDAY', 458679, 1, N'SORIA@GMAIL.COM', 456456546)
INSERT [dbo].[Cliente] ([Tipo_Doc], [Nro_Doc], [Apellido], [Nombres], [Fecha_Nac], [Sexo], [Calle], [Nro], [Barrio], [Email], [Telefono]) VALUES (1, 6546546, N'GODOY', N'VERONICA', CAST(0x35080B00 AS Date), N'FEMENINO  ', N'COUREL', 6546546, 10, N'VERO@GMAIL.COM', 456546)
INSERT [dbo].[Cliente] ([Tipo_Doc], [Nro_Doc], [Apellido], [Nombres], [Fecha_Nac], [Sexo], [Calle], [Nro], [Barrio], [Email], [Telefono]) VALUES (1, 35869102, N'MORA', N'ENRIQUE ', CAST(0xB3160B00 AS Date), N'MASCULINO ', N'BALCARCE', 358691025, 1, N'KIKE.MORA.11@GMAIL.COM', 153303470)
/****** Object:  Table [dbo].[Proveedores]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id_Proveedores] [int] IDENTITY(1,1) NOT NULL,
	[Razon_Social] [varchar](50) NOT NULL,
	[Telefono_Contacto] [int] NOT NULL,
	[Nombre_Contacto] [varchar](50) NOT NULL,
	[Apellido_Contacto] [varchar](50) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Nro] [int] NOT NULL,
	[Barrio] [int] NOT NULL,
 CONSTRAINT [PK_Provedores] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedores] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON
INSERT [dbo].[Proveedores] ([Id_Proveedores], [Razon_Social], [Telefono_Contacto], [Nombre_Contacto], [Apellido_Contacto], [Calle], [Nro], [Barrio]) VALUES (3, N'Maderas Calamuchita SRL', 4594156, N'Roberto', N'Muñoz', N'Arturo Orgaz', 520, 3)
INSERT [dbo].[Proveedores] ([Id_Proveedores], [Razon_Social], [Telefono_Contacto], [Nombre_Contacto], [Apellido_Contacto], [Calle], [Nro], [Barrio]) VALUES (4, N'Muebles Hogar', 45789125, N'Martin', N'Cerrutti', N'espinillo', 245, 2)
INSERT [dbo].[Proveedores] ([Id_Proveedores], [Razon_Social], [Telefono_Contacto], [Nombre_Contacto], [Apellido_Contacto], [Calle], [Nro], [Barrio]) VALUES (5, N'Maderitas Jujeñas', 15426738, N'Blanca', N'Paris', N'casachuz', 478, 18)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
/****** Object:  Table [dbo].[ProveedoresXProducto]    Script Date: 11/04/2013 20:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedoresXProducto](
	[Id_Producto] [int] NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
 CONSTRAINT [PK_ProvedoresXProducto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC,
	[Id_Proveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ProveedoresXProducto] ([Id_Producto], [Id_Proveedor]) VALUES (13, 3)
INSERT [dbo].[ProveedoresXProducto] ([Id_Producto], [Id_Proveedor]) VALUES (14, 3)
INSERT [dbo].[ProveedoresXProducto] ([Id_Producto], [Id_Proveedor]) VALUES (16, 6)
/****** Object:  ForeignKey [FK_Localidad_Provincia]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([Id_Provincia])
REFERENCES [dbo].[Provincia] ([Id_Provincia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
/****** Object:  ForeignKey [FK_Factura_Medio_pago]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Medio_pago] FOREIGN KEY([Medio_De_Pago])
REFERENCES [dbo].[Medio_pago] ([Id_medio_pago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Medio_pago]
GO
/****** Object:  ForeignKey [FK_Barrio_Localidad]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Barrio]  WITH CHECK ADD  CONSTRAINT [FK_Barrio_Localidad] FOREIGN KEY([Id_Localidad])
REFERENCES [dbo].[Localidad] ([Id_Localidad])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Barrio] CHECK CONSTRAINT [FK_Barrio_Localidad]
GO
/****** Object:  ForeignKey [FK_Cliente_Barrio]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Barrio] FOREIGN KEY([Barrio])
REFERENCES [dbo].[Barrio] ([Id_Barrio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Barrio]
GO
/****** Object:  ForeignKey [FK_Cliente_TipoDocumento]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_TipoDocumento] FOREIGN KEY([Tipo_Doc])
REFERENCES [dbo].[TipoDocumento] ([Id_TipoDocumento])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_TipoDocumento]
GO
/****** Object:  ForeignKey [FK_Provedores_Barrio]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Provedores_Barrio] FOREIGN KEY([Barrio])
REFERENCES [dbo].[Barrio] ([Id_Barrio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Provedores_Barrio]
GO
/****** Object:  ForeignKey [FK_ProvedoresXProducto_Productos]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[ProveedoresXProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProvedoresXProducto_Productos] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([Id_Producto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProveedoresXProducto] CHECK CONSTRAINT [FK_ProvedoresXProducto_Productos]
GO
/****** Object:  ForeignKey [FK_ProvedoresXProducto_Provedores]    Script Date: 11/04/2013 20:05:02 ******/
ALTER TABLE [dbo].[ProveedoresXProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProvedoresXProducto_Provedores] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedores] ([Id_Proveedores])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProveedoresXProducto] CHECK CONSTRAINT [FK_ProvedoresXProducto_Provedores]
GO
